.certificate {
    width: 100vw;
    height: 100vh;
    background: var(--color-secondary);

    display: flex;
    justify-content: center;

    h2 {
        color: #fff;
        font-size: 2rem;
    }

    .certificate-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .certificate-title {
        display: flex;
        align-items: center;
        gap: 12px;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .certificate-card {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 28px;
        align-items: center;
        padding-bottom: 5rem;
        flex-direction: column;
    }

    @media (max-width: 768px){

    }
}