.about {
    background: var(--color-secondary);
    max-width: 100vw;
    height: fit-content;

    display: flex;
    justify-content: center;

    h2 {
        color: #fff;
        font-size: 2rem;
    }
    
    p {
        color: #fff;
        font-size: 1.2rem;
    }

    .about-title {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 12px;
        justify-content: center;
        padding-top: 3rem;
    }

    .about-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-information {
        text-align: start;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        padding-bottom: 5rem;
    }

    .about-text {
        width: 40%;
        gap: 11px;
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 768px) {
        height: fit-content;

        .about-information {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .about-content {
            width: 100%;
        }

        .about-text {
            width: 80%;
        }
    }
}