.contact {
    background: var(--color-primary);
    width: 100vw;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        color: #fff;
        text-align: start;
    }

    .title {
        display: flex;
        align-items: center;
        gap: 20px;  
        color: #fff;
        padding-top: 3rem;
    }

    .contact-content {
        width: 80%;
        display: flex;
        padding: 20px;
        justify-content: center;
        padding-bottom: 6rem;
    }

    .contact-inputs {
        width: fit-content;
    }

    .form {
        width: 70%;
        margin-bottom: 10px;

        button {
            width: 100%;
            background: var(--color-primary);
            color: #fff;
            padding: 15px;
            cursor: pointer;
            border: 1px solid #fff;
        }
    }

    .inputs input{
        width: 100%;
        padding: 14px;
        background: #343435;
        border: 1px solid #fff;
        margin-bottom: 10px;
        color: #fff;
    }

    textarea {
        width: 100%;
        background: #343435;
        border: 1px solid #fff;
        padding: 14px;
        color: #fff;
    }

    a {
        cursor: pointer;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        background-color: rgb(20, 19, 19);
    }

    .contact-infos {
        width: fit-content;
        display: flex;
        padding: 20px;
        gap: 20px;
        flex-direction: column;

        .email {
            width: 100%;
            color: #fff;
            text-align: unset;
            padding-top: 6rem;
        }
        
        .social-midia {

            display: flex;
            flex-direction: column;
            gap: 10px;

            .git, .linkedin {
                display: flex;
                gap: 10px;
                align-items: center;
            }

        }
             
    }

    .direitos {
        margin-bottom: 3rem;
    }

    @media(max-width: 768px) {

        p {
            text-align: center;
        }

        .contact {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form {
            width: 100%;
        }

        .contact-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            text-align: start;
            padding-top: 3rem;
        }

        .email {
            padding: 0;
        }

    }
}