.course-card {
    width: 60%;
    height: 60%;
    background: var(--color-tertiary);

    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
        font-weight: bold;
    }

    .title {
        text-align: center;
    }

    .course-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .instructor {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .institution {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .extra-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .duration-content {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .duration-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .duration-time {
        font-size: 36px;
        font-weight: bold;
    }

    .course-content {
        padding: 20px;
    }

    .infos {
        display: flex;
        justify-content: space-between;
    }

    button {
        padding: 10px;
        width: 150px;
        border: 1px solid #252526;
        border-radius: 4px;
        cursor: pointer;
    }

    button::hover {
        box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
        transform: translateY(-0.25em);
    }

    @media(max-width:768px) {
        width: 100%;
    }
}